* {
      background-color:#999;
      color:#fff;
      font-family:Arial,sans-serif;
      font-size: 25px
}
h1,
h3 {
      text-decoration: underline;
      text-align: center;
}
  h1 {
      font-size: 45px;
}
  h3 {
      font-size: 35px;
}
ul+ol{
      font-weight: bold;
}
.link {
      color:rgb(50,50,255);
}
ul .link {
      font-size: 30px;
}
.small-img {
      display: block;
      margin-top: 3mm;
      margin-bottom: 5mm;
      margin-left: 1cm;
}
.link#index {
      font-size:20px;
      font-weight:700;
      margin-right: auto;
      margin-left: 39.5%;
}
.link#source {
      color:lightskyblue;
      font-size: 15px;
      margin-right: auto;
      margin-left: 40.75%;
}
.top-img {
      display: block;
      margin-left: auto;
      margin-right: auto;
}