html {
      box-sizing: border-box;
      background-color:#999;
      color:#fff;
      font-family:Arial,sans-serif;
      font-size: 25px
}
*, *:before, *:after {
      box-sizing: inherit;
}
img {
      border:1px solid black;
}
.description {
      padding:2px;
      margin: 30px;
}
h1,
h3 {
      text-decoration: underline;
      text-align: center;
}
  h1 {
      font-size: 45px;
}
  h3 {
      font-size: 35px;
}
ul+ol {
      font-weight: bold;
}
li {
      margin-left: 25px;
      margin-right: 5px;
      margin-top: 2px;
}
em {
      padding: 2px;
}
.link {
      color:rgb(50,50,255);
}
ul .link {
      font-size: 30px;
      padding: 2px;
}
.small-img {
      display: inline-block;
      margin-left: 10px;
      margin-bottom: -50px;
      margin-top: 60px;
}
.link#index {
      font-weight:700;
      padding:2px;
      margin: 10px;
      display: flex;
      justify-content: center;
}
.link#source {
      color:lightskyblue;
      font-size: 20px;
      padding: 2px;
      margin: 10px;
      display: flex;
      justify-content: center;
}
.top-img {
      display: block;
      margin-left: auto;
      margin-right: auto;
}